.app {
  min-height: 100vh;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  position: relative;
  h1{
    text-align: center;
    color:#0c0c0c;
    margin: 40px auto 5px;
    padding:0;
    font-weight: 500;
  }
  input {
    background-color: #f1f1f1;
    border: none;
    font-size: 1em;
    margin: 10px auto 20px;
    outline: none;
    border-bottom: solid black 1px;
    text-align: center;
  }

  .grid {
    min-height:82vh;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    .card {
      width: 90%;
      margin: 0 auto;
      height:19vh;
      background: #f1f1f1;
      box-shadow: 20px 20px 60px #cdcdcd, -20px -20px 60px #ffffff;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: none;
      font-size: 1em;
      outline: none;
      transition: background 2s;
      p,a{
        text-align: center;
        color:initial;
        text-decoration: none;
      }

      img {
        width: 50px;
      }

      &:active {
        background: #0c0c0c;
      }
    }
  }
}
